* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: "Open Sans", "Arial", "sans-serif";
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navbar {
    display: flex;
    gap: 32px;
    list-style-type: none;
    text-transform: uppercase;

}

.navbar_link {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main_link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2px;
    padding: 12px 24px;
    border: 2px solid rgb(222, 46, 84);
    border-radius: 8px;
    background: rgb(222, 46, 84);
}

.hero {
    /* display: flex; */
    /* justify-content: space-between; */
    background: rgb(14, 180, 193);
}

.hero-container {
    display: flex;
    justify-content: space-between;

}

.hero_content {
    width: 500px;
    padding-top: 120px;
    padding-bottom: 100px;
}

.hero-img {
    margin-bottom: -7px;
}

.services {
    padding-top: 120px;
    padding-bottom: 120px;
}

.single_service {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 80px;

}

.calling {
    background: rgb(14, 180, 193);
    padding-top: 64px;
    padding-bottom: 64px;

}

.contact {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.calling-text {

    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
}

.call {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 24px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
}